<h3>Reach /me</h3>
<dl>
  <dt><i class="fa fa-envelope"> </i> Email:</dt>
  <dd><a href="mailto:s26c.sayan@gmail.com">s26c[dot]sayan[at]gmail[dot]com</a></dd>
  <dt><i class="fa fa-linkedin-square"> </i> LinkedIn:</dt>
  <dd><a href="https://www.linkedin.com/in/sayanriju/" target="_blank">https://linkedin.com/in/sayanriju</a></dd>
  <dt><i class="fa fa-github-square"> </i> Github:</dt>
  <dd><a href="https://github.com/sayanriju" target="_blank">https://github.com/sayanriju</a></dd>
  <dt><i class="fa fa-map-marker"> </i> Location:</dt>
  <dd><address>5, Asutosh Sastri Road, Kolkata 700010, West Bengal, India</address></dd>
</dl>
<br/>
<br/>
<br/>
<a href="./sayanriju-resume.pdf" download style="
  background-color: #2E86C1;
  color: white;
  padding: 1em 1.5em;
  text-decoration: none;
"><i class="fa fa-download"></i> PDF Resume</a>


