        <h2>Open Source Contributions</h2>
        <% for (const project of data.floss) { %>
        <section id="" class="slide" data-transition="concave">
          <%= project %>
        </section>
        <% } %>