        <h2>Open Source Contributions</h2>
        <ul>
        <% for (const project of data.floss) { %>
          <li><a href="<%= project.url %>" target="_blank"><%= project.name %>: </a> <%= project.about %></li>
        <% } %>
        </ul>