        <h3 style="text-transform:lowercase;">$ whoami<span style="text-decoration:blink;">_</span></h3>
        <hr>
        <p class="alt-colors">I'm an Experienced & Passionate Coder who prefers to work on the backend, in particular using <span>Express Framework (Node JS)</span> & <span>Mongo DB</span>, but I'm conversant with frontend tech like <span>Vue JS</span> as well.  Further, I can pickup new technologies/paradigms/langauges with fair ease.</p>
        <p>I also have ample experience in managing medium size teams.</p>
        <p>I am versed with Version Control Systems like <span class="green">Git</span>.</p>
        <p>In general, I try to keep abreast of the latest trends in relevant technologies.</p>
        <p>I've been working almost exclusively on <span class="green">Linux systems</span> for over a decade, and am  idealistic about <span class="orange">Free &amp; Open-source Software</span></p>

      