        <h3 style="text-transform:lowercase;">$ whoami<span style="text-decoration:blink;">_</span></h3>
        <hr>
        <p class="alt-colors">I'm an Experienced Coder with varying levels of skills in Web Software Development on
          <span>LAMP stack (PHP/MySQL)</span>, <span>Codeigniter</span>, <span>Wordpress</span>, <span>Node JS</span>,
          <span>Meteor JS</span>, <span>JavaScript/CoffeeScript</span>, <span>Web Frontend Design</span>, <span>NOSQL
            (Mongo DB)</span>, <span>Bash Shell Scripting</span>, etc.</p>
        <p>I am versed with Version Control Systems like <span class="green">Git</span> and <span
            class="orange">Bazaar</span>.</p>
        <p>In general, I try to keep abreast of the latest trends in relevant technologies.</p>
        <p>I've been working almost exclusively on <span class="green">Linux systems</span> for the last decade or so.
        </p>
        <p>I'm idealistic about <span class="orange">Free &amp; Open-source Software</span>, contributing often to such
          projects as coder, documenter and advocate.
        </p>