        <h2>Notable Projects</h2>
        <% for (const project of data.projects) { %>
        <section id="" class="slide" data-transition="concave">
          <%= project %>
        </section>
        <% } %>