        <h4>Personality Traits</h4>
        <ul>
          <li>Quintessential Problem Solver (albeit w/ Hacks)</li>
          <li>Geek/Nerd with affinity for Startups</li>
          <li>Insatiable Dabbler in New Technologies</li>
          <li>Obstinately Persistent, esp. in adverse conditions</li>
          <li>Straightforward Assessor of Situations</li>
          <li>Good with Words, esp. while Writing</li>
          <li>Staunch believer in "Work Smart, Not Hard!"</li>
        </ul>
        <br>
        <br>
        <h4>Education</h4>
        <table>
          <tr>
            <td>Postgrad:</td>
            <td>A Level (Advanced PG Diploma in IT) from DOEACC, 2010</td>
          </tr>
          <tr>
            <td>Undergrad:</td>
            <td>B.Sc. (Maths Honors) from Calcutta University, 2005</td>
          </tr>
        </table>