<b>Welcome to the Online Résumé</b>
<br />
<i>of</i>
<h2>Sayan "Riju" Chakrabarti</h2>
<img src="assets/sayan.jpg" width=200 style="border-radius:51px;" />
<br />
<b style="font-style:italic;font-size:70%;">(a.k.a &nbsp;&nbsp;/me)</b>
<div style="font-size:40%;font-weight:bold;padding-top:9em;text-align:right;">
  Use the Arrow Keys for Navigation
  <br>
  <span style="font-size:123%;">&xrarr;</span>
  <br>(The corresponding keyboard arrows work too!)
  <div style="font-size:100%;padding-top:3em;font-style:italic;text-align:center;">Min. Resolution of 1200x800</div>
</div>