<h1>Projects</h1>
<% projects.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h1>FLOSS</h1>
<% floss.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h1>Employments</h1>
<% employments.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h1>general</h1>
<% general.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
