<h1>PDF...............</h1>
<hr/>
<h2>Projects</h2>
<% data.projects.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>FLOSS</h2>
<% data.floss.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>Employments</h2>
<% data.employments.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>general</h2>
<% data.general.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
