<h1>PDF...............</h1>
<hr/>
<h2>Projects</h2>
<% projects.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>FLOSS</h2>
<% floss.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>Employments</h2>
<% employments.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
<h2>general</h2>
<% general.forEach((x) => { %>
	<ul><li><%= x %></li></ul>
<% }) %>
